[2019-12-06 18:42] klauer opened #4 "Use official bindings for Qt-Advanced-Docking in place of qtpydocking"
https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System

[2019-12-06 23:03] klauer commented on #4
Closed by #3

[2019-12-10 22:49] #4 closed

[2019-12-12 19:10] hhslepicka opened #7 "Conda Recipe - Missing Dependencies"
The conda recipe is missing dependencies such as ophyd, typhon and others...
Make the package be `noarch`...

[2019-12-13 00:12] #7 closed

[2020-01-08 19:43] klauer opened #11 "Add excepthooks to ensure the launcher doesn't crash"
`sys.excepthook`, `threading.excepthook`, ...

Could use `raise_to_user` to show exception, or just dump it in the console.

[2020-01-09 23:08] klauer opened #12 "Update happi device cache periodically"

[2020-01-09 23:09] klauer opened #13 "Stale results in cached search"

[2020-01-09 23:10] klauer opened #14 "Rate limit searches to lessen CPU load"
Not based on benchmarks - but perhaps a single background search thread would be more performant.

[2020-01-09 23:27] klauer commented on #13
* Refresh button?
* Search again after a certain period?

FIFO cache needed for search model dictionary

[2020-01-10 00:22] klauer opened #17 "Revisit fuzzy-finding methodology"
It started out as a simple `fuzzywuzzy.fuzz.ratio(s1, s2)` and morphed into something uglier after realizing that partial matches on long strings would not yield any results.

Statistics could be used to threshold the fuzz ratio instead of using the absolute method in place now. Would need more filtering/limiting to keep truly insignificant results out of the mix.

I'm up for suggestions, in any c

[2020-01-10 00:23] #12 closed

[2020-01-10 17:21] klauer opened #18 "Main window geometry not restored (saved?) correctly"

[2020-01-10 18:53] klauer opened #19 "Package name overlaps with tensorflow/lucid"
https://pypi.org/project/lucid/#description

[2020-01-10 18:54] teddyrendahl commented on #19
This makes me so sad

[2020-01-10 18:59] klauer commented on #19
typho~n~s / lucid were two of your coolest package/application names, @teddyrendahl!

We could choose to make the pypi release be like `lcls-lucid` and keep the package import the same 🤷‍♂ - I did something similar for pypdb...

[2020-01-10 19:09] hhslepicka commented on #19
👍 on keeping the name for package import and just use a different name at PyPI.
one rename is enough.

[2020-01-24 19:40] klauer opened #21 "Add gather window option"
All floating windows should go back to the main screen, in tabs on the right, for example

[2020-02-21 22:38] klauer opened #29 "Toolbar disappears after right click + deselecting an empty context menu item"
<img width="183" alt="image" src="https://user-images.githubusercontent.com/5139267/75077489-c93a2200-54b7-11ea-811a-c401a96aac9e.png">

[2020-02-21 23:47] teddyrendahl opened #31 "ELog Tool"
## Expected Behavior

A tool to post to the ELog. This should have the option to capture device information and store it as both a `PrettyTable` and a `JSON` document

[2020-02-21 23:55] #21 closed

[2020-02-23 19:04] slacAWallace opened #32 "CLI seems slow"
Just trying a simple ```lucid -h``` takes 5s to complete.

[2020-02-23 19:06] hhslepicka commented on #32
@slacAWallace please give a bit more of information so we can properly debug it.
What was the commands executed?
From which machine?
Are you using XForwarding?

[2020-02-24 17:30] klauer commented on #32
Is it the first invocation or every run of `lucid`?

[2020-02-24 18:13] hhslepicka commented on #32
It seems to not be a first time launch issue...

[code]

[2020-02-25 22:20] ZLLentz opened #34 "Columns and Rows not Sorted"
![image](https://user-images.githubusercontent.com/10647860/75292903-f9483480-57d9-11ea-8202-a72a366f4a92.png)

[2020-02-25 22:22] ZLLentz opened #35 "Spammy "INFO" Log Messages"
These come from ply and cover the whole terminal on startup:

[code]

[2020-02-26 05:36] hhslepicka commented on #35
Adding `%(stack_info)` to the Formatter at `lucid` I was able to track it down to this:

[code]

@klauer should we do something at the packages `pytmc` of `pyPDB` to filter that?
I will for now add something at lucid to silence this SPAM.

[2020-02-26 17:42] slacAWallace commented on #34
Came here to post the same ss.

[2020-02-26 18:18] klauer opened #37 "Logging setup incorrect"
https://github.com/pcdshub/lucid/blob/b8dcaa9fa4e7208ec99df448e47c188227f9704e/lucid/launcher.py#L143-L149

I don't think we should be adding a handler to the root logger here...

[2020-02-26 22:25] ZLLentz opened #38 "Search doesn't work on LCLS linux hosts"
As I try to type "im1" for example in the search bar, the focus gets lost and my typing is interrupted. When I click back to the box I get no search results. The highlighted circles appear when I've only got "i" typed in the search bar, but disappear at "im". When they've appeared, the circles are off-center.

This behavior was observed on psbuild-rhel7 and lfe-console

[2020-02-26 22:26] hhslepicka commented on #38
@ZLLentz over x and also locally?

[2020-02-26 23:03] klauer commented on #38
The circles do look a bit offset, admittedly. Running `lfe` and repeating what you did on psdev + psbuild, though, I can't reproduce the focus stealing and lack of search results. Hmm...

[2020-02-26 23:40] ZLLentz commented on #38
I only tried over x, since both of those machines can't really be accessed locally. I'll check if this happens on the control room machine or if it's just a "Zach's desktop" kind of problem.

[2020-02-27 00:24] #34 closed

[2020-02-27 00:24] #35 closed

[2020-02-27 00:25] hhslepicka commented on #38
What OS flavor is Zach's desktop? RHEL?

[2020-02-27 17:45] klauer opened #39 "Release on conda"
Ref https://github.com/pcdshub/pcds-envs/issues/102

[2020-02-27 17:45] klauer commented on #39
Would be nice to have this on conda-forge as well for free multiplatform builds...

[2020-02-27 18:14] klauer opened #40 "Swap left/right click in grid"
* Left click
    - Menu pops up with options
        - `Open all`
        - `-----------` (spacer)
        - `Device 1`
        - `Device 2`
        - `etc...`
* Right click either opens all or does nothing

[2020-02-27 18:16] klauer opened #41 "Refactor Home - Reconsider usage of TyphosSuite"
- [ ] Left-bar hover/click opens up suite
- [ ] Suite replaced with more compact tree view that can be transposed. Filterable tree of something like:
    - View by device
    - View by name
    - View by ...

[2020-02-27 23:15] #40 closed

[2020-03-02 18:13] jsheppard95 opened #43 "Setpoint vs readback fields always the same for motors"
I have found that for `lucid`, the read back `.RBV` field for motors always agrees with it's set point `.VAL`. After an IOC reset, both are correct as the initial `.VAL` field is set to the current motor position and the `.RBV` agrees, but position fluctuations then throw the `.RBV` off, while `lucid` shows it continues to match `.VAL`, even after move requests. This is not the case for non-motor

[2020-03-02 19:48] hhslepicka commented on #43
So, the issue is that at the `pcdsdevices.mirror.XOffsetMirror` , pitch is defined as: `
pitch = Cpt(EpicsSignal, ':MMS:PITCH', kind='normal')`

With that, pitch is connecting to `<prefix>:MMS:PITCH` and not `<prefix>:MMS:PITCH.RBV`.

Closing as @jsheppard95 will address the fix at pcdsdevices.

[2020-03-02 19:48] #43 closed

[2020-03-02 20:18] slacAdpai opened #44 "Don't know if this is a pcdswidgets issue or a lucid issue, but HXR VAccum screen keeps closing when loading ion pump expert screens"
[code]

[2020-03-02 20:21] klauer commented on #11
In light of stuff like #44, we should prioritize getting this in. Perhaps it even belongs in pcdsutils for reuse between our projects.

[2020-03-02 21:24] hhslepicka commented on #11
Makes sense. I will add it in.

[2020-03-02 21:26] hhslepicka commented on #44
@slacAdpai I could not reproduce it here. Is there a specific Ion pump that is giving this error or any ion pump?

[2020-03-03 02:05] ZLLentz opened #46 "Force beamline to be all caps"
After https://github.com/pcdshub/happi/issues/100, accept inputs like:
`lucid lfe`
And internally change `lfe` to `LFE`

Raj and I were stuck on this for a bit

[2020-03-03 02:07] ZLLentz opened #47 "Show error if no devices found"
This implies that the user did something wrong while launching the program. Here we can check for invalid beamline arguments, unset happi configs, etc.

This happened to Raj and I when we did `lucid lfe` and it took an embarrassingly long amount of time to figure out what happened

[2020-03-03 02:07] hhslepicka commented on #46
Should we do that at `lucid` or allow `happi` search to be case-insensitive?

[2020-03-03 17:19] ZLLentz commented on #46
That's a good question... I'm not sure

[2020-03-03 17:24] klauer commented on #46
👍 for case-insensitive search.

[2020-03-03 17:26] #46 closed

[2020-03-03 17:36] #11 closed

[2020-03-03 17:44] hhslepicka commented on #44
@slacAdpai since I can't reproduce it in here, do you mind to test it again and check if you still have the issue and report back?

[2020-03-04 18:43] #47 closed

[2020-03-04 23:04] jsheppard95 opened #50 "ENH: Access to epics reset PV for motion axes"
`lcls-twincat-motion` defines the PV `:PLC:bReset` for motor records created from a `DUT_MotionStage` using `pytmc`. It would be nice to have access to this PV from a motor screen, i.e the screens produced from `ophyd` devices whose classes inherit from `pcdsdevices.epics_motor.BeckhoffAxis`. Writing to this variable is necessary to clear any axis error and resume motion through epics.

[2020-03-04 23:14] hhslepicka commented on #50
@jsheppard95 ,  I think this should be an issue at pcdsdevices. We can get together and discuss it better.

[2020-03-04 23:39] slacAdpai commented on #44
Hello Hugo,

I pressed on probably 50 different vacuum ions and then it crashed again. No Lucid home screen no vacuum screens.

Here is the command line :
[code]

[2020-03-05 00:12] hhslepicka commented on #44
Can you stop by and we can test it together?

[2020-03-05 02:01] ZLLentz commented on #38
I never had time to really investigate this, but my desktop is:
[code]
I `ssh -Y` to `psdev` and again to `lfe-console`
Then I source the setup scripts and open the `lfe` screen and encounter the issue. If it's `rhel6` through x-forwarding from Zach CPU only I can investigate later. I can show this to you tomorrow if you're curious as to what it looks like.

[2020-03-05 17:19] klauer commented on #38
We'd definitely like to see it, @ZLLentz, when @hhslepicka gets in.

[2020-03-05 17:44] hhslepicka opened #51 "Search: Don't highlight empty cells on grid"
Open `lfe`... search for Energy Monitors... see that the empty cells are highlighted.

[2020-03-05 20:54] slacAdpai commented on #44
Hello Hugo,

After about 100 clicks on widgets, the HXR vacuum screen is still crashing. The Lucid lfe console home screen did not crash.

Cheers,
Allen Pai

[2020-03-05 21:16] hhslepicka commented on #44
Can you identify a common pattern?

[2020-03-05 23:57] hhslepicka commented on #44
Next goal is to go 150... 🤣 ... it was 50 clicks, now 100..

[2020-03-06 00:29] hhslepicka commented on #38
I got in... I saw it... it is sad... 😞

[2020-03-06 16:05] #51 closed

[2020-03-06 23:59] hhslepicka commented on #38
This is due to the fact that linux is not respecting the `    self.setWindowFlag(Qt.WindowDoesNotAcceptFocus, True)` flag value and it results in a `focusOutEvent` at the Search line edit which causes the application to call `clear_highlight` closing the Search results dialog and removing the overlay from the grid.

I am working on a fix for that.

[2020-03-07 00:16] #38 closed

[2020-03-12 22:38] ZLLentz opened #56 "Runtime Error Connection Deleted"
Sometimes we get this pop up in the control room:

RuntimeError: wrapped C/C++ object of type Connection has been deleted

Sometimes the screen crashes, sometimes it happily continues on

[2020-03-12 22:38] ZLLentz commented on #56
In this particular instance, the pop up opened 24 times

[2020-03-12 22:41] hhslepicka commented on #56
@ZLLentz can you track down some steps to reproduce it?
Is it happening while opening Lucid or after it is open for a while?

[2020-03-12 22:43] ZLLentz opened #57 "Lucid displays poorly on small screens"
If the grid is larger than the screen height, you can't navigate to the Quick Launcher Toolbar on some setups. This can also be a problem for the device windows that open up to the right if the screen is not wide enough.

[2020-03-12 22:44] ZLLentz commented on #56
This happens when it is open for a while. I assume someone is restarting an IOC of some kind? The user is not doing any additional input when these happen and there isn't any obvious change in the system.

[2020-03-12 23:20] hhslepicka commented on #56
Interesting... i will try to debug that here.

[2020-03-13 23:35] klauer opened #59 "Distant future ideas"
* Kerberos authentication for some level of access control? https://github.com/slaclab/krtc
(idea from @hhslepicka )

[2020-03-16 17:59] klauer commented on #39
Closed! https://github.com/conda-forge/lucid-feedstock

[2020-03-16 17:59] #39 closed

[2020-04-22 17:05] klauer opened #64 "Bug report dialog + exception logging"
* Include screenshot
* Log entry with bug report

Uncaught exceptions -> pcds-wide logger

[2020-05-13 18:32] klauer opened #65 "New typhos suite will not show top-level device"
Click:
<img width="254" alt="image" src="https://user-images.githubusercontent.com/5139267/81850781-4ef4c900-950d-11ea-8415-88f073452bdc.png">

Then get:
<img width="567" alt="image" src="https://user-images.githubusercontent.com/5139267/81850750-48665180-950d-11ea-8793-36c1d50ee832.png">

I think this is preferable to the old behavior of showing the first device, in which case this is not an issu

[2020-05-18 23:46] #65 closed

[2020-05-19 00:11] hhslepicka commented on #65
Closed but here is my comment.
IMHO that is preferrable than showing only the first device. User should pick which one to display.
We already cover a lot of things such as:
- if only one device, display it
- options to open specific device

[2020-06-04 15:54] slacAdpai opened #66 "Using noMachine, The LFE screen partially loads."
The screen partially loads when I go through psnxserv then psdev then xpp-control.

![image](https://user-images.githubusercontent.com/42284230/83779601-08444b80-a641-11ea-8dff-c6a5fb17346a.png)

[2020-06-04 16:03] hhslepicka commented on #66
@slacAdpai can you use fastx3?

[2020-06-04 16:08] slacAdpai commented on #66
Yes, I can use fastx. I was trying out nomachine because fastx has a 4 second lag between pressing a button on a gui and the plc seeing the input.

[2020-06-04 21:57] klauer commented on #57
This is really painful and bad on FastX:

<img width="886" alt="image" src="https://user-images.githubusercontent.com/5139267/83814682-976a5700-a673-11ea-934c-97bf75424c3c.png">

Can't resize the quick launcher toolbar to even see the full grid.

[2020-06-04 22:06] hhslepicka commented on #57
That is odd... Yesterday night I was able to pull the Quick Launcher toolbar to be small and see the fullgrid... clearly it is a bug that it is showing this big but the resizing was working properly.
I will take a look into that.

[2020-06-04 22:48] klauer opened #67 "Stack overflow?"
Not the website:

[code]

I may have closed the window before this happened, but I don't recall (it was during a meeting).

[code]

Mostly full log on NFS `~klauer/lucid_failure.txt`

[2020-06-04 23:00] klauer commented on #57
Looking back at this, it's very possible that what I saw above was related to #67 and just didn't allow for any further mouse input.

[2020-06-04 23:18] hhslepicka commented on #67
Looking at the log it seems like we need to remove our callbacks before the shutdown/closing of the Connection. In this case the `Connection` object was destroyed and got a new info from pyepics on the callback which unleashed the mayhem...

On StackOverflow it seems like it was caused by the unhandled exception being handled by the `handle_error` which also caused an exception and all hell broke

[2020-06-08 20:27] hhslepicka opened #70 "DOCS"
We need docs...

Remember to:
- remove at the .travis.yml the allow failures for "Docs Build" and "Docs Upload"
- add the doctr deploy key

[2020-06-09 17:34] klauer commented on #44
@slacAdpai are you still experiencing this?

[2020-06-16 16:14] #70 closed

[2020-06-17 23:23] slacAdpai opened #73 "HXR vacuum screen crashes and there is a C code error and this is the printout"
[code]

[2020-06-17 23:24] hhslepicka commented on #73
@slacAdpai is this happening at all times? Do you have the rest of the error message?

[2020-06-17 23:26] slacAdpai commented on #73
Bill schlotter is having this issue as well. It is crashing while we are doing checkouts.

[2020-06-17 23:27] hhslepicka commented on #73
Can you jump into a zoom call to demo it?

[2020-06-17 23:28] slacAdpai commented on #73
I'll try again

[2020-06-17 23:29] slacAdpai commented on #73
https://stanford.zoom.us/j/5939260898?pwd=SmdraE1jVkhheUhTMUVqWnd1MU9adz09

[2020-06-17 23:36] hhslepicka commented on #73
I removed the link from here.

[2020-06-22 15:03] jsheppard95 commented on #73
So I was just about to make a new issue for this, as I just had something similar happen:

I had the `lfe` screen up looking at the mirrors, along with a `telnet` session open to my IOC but with my PLC still in config mode. I then accidentally rebooted my IOC before setting my PLC into run mode. This caused everything to freeze on `xpp-daq`, even though I was just using this machine to ssh to `lfe

[2020-06-22 15:20] hhslepicka commented on #73
@jsheppard95 thank you for reporting back. I will add a new version of PyDM with protections against those C errors that Allen reported. Do you by any chance have the output of your error? Was it the same?

Thanks you!

[2020-06-22 15:49] jsheppard95 commented on #73
Unfortunately I don't. I forgot to take pictures at the time. There was also a graphical error message that popped up that said something along the lines of "An underlying C/C++ object has been deleted", but I also forgot to take a picture of this, sorry about that!

[2020-06-22 15:55] hhslepicka commented on #73
No problem at all... I will add some more protections to PyDM and get back to you for some tests.
Thanks!

[2020-06-22 17:42] hhslepicka commented on #73
@jsheppard95 @slacAdpai I just deployed the latest from PyDM at dev-conda. Would you please give it a try and let me know if it is more stable?

[2020-06-22 17:54] jsheppard95 commented on #73
Sure can do, should I actually just replicate my process and reboot an IOC with the PLC in config mode to see what happens?

[2020-06-22 17:56] hhslepicka commented on #73
@jsheppard95 that would be the best test if you could. Please remember to close your screens before doing the test to make sure you load the latest PyDM at the dev-conda environment.

[2020-06-22 17:59] jsheppard95 commented on #73
@hhslepicka Yes can do! I can do so for MR1K2 which is still in more of a development state anyway. I think I'll wait until this afternoon when there is less traffic in the XPP control room, but I'll give another update after with what I find.

Thanks for the updates!

[2020-06-22 18:20] hhslepicka commented on #73
@jsheppard95 no need to test it... I was able to finally reproduce the issue that you saw here locally. I will keep you posted. Please abort the test for now.

[2020-06-22 18:34] jsheppard95 commented on #73
@hhslepicka Oh that's great to hear, I was a bit worried about taking down the control room machine again.

Thanks again for working on this!

[2020-06-22 22:19] hhslepicka commented on #73
I was able to track the issue down to PyEPICS... I am working on a temporary fix at the PyDM side while we don't fix it upstream. More news soon.

[2020-06-22 23:00] hhslepicka commented on #73
@jsheppard95 the fix was deployed... would you mind to test it and get back to me later? No rush!

[2020-06-22 23:47] jsheppard95 commented on #73
@hhslepicka That seems to have fixed it! Just replicated the process with MR1K2 where again I had the screen open, the PLC in config mode, and attempted an IOC reboot, and now it seems very stable. Went through a few reboots and both the screen and xpp-daq are perfectly responsive. I just an angry telnet session as expected.

Thanks for helping with this!

[2020-06-22 23:48] hhslepicka commented on #73
Awesome! Thanks @jsheppard95 ! I will close this PR based on your tests. If you see it again please feel free to reopen it.

[2020-06-22 23:48] #73 closed

[2020-06-23 00:18] jsheppard95 commented on #73
Sounds good, I'll keep an eye out and let you know if I run into more issues, and I'll make sure to take pictures - good practice in any sort of crash whether it be in a car or software!

[2020-06-23 17:09] hhslepicka commented on #67
Part of this issue was addressed along with (#73). Now what remains is why the handle_error and raise_to_operator caused this stack overflow.

[2020-06-23 22:39] hhslepicka commented on #56
That was addressed with the latest fix of PyDM, also related to #73

[2020-06-23 22:39] #56 closed

[2020-06-23 23:02] hhslepicka commented on #44
Closing the issue after follow-up with @slacAdpai via SLACK DM.

[2020-06-23 23:02] #44 closed

[2020-07-06 18:31] klauer commented on #64
Production PCDS-wide logger is ready to accept such messages, and `pcdsutils` has helper functions for logging configuration.

[2020-07-08 15:56] ZLLentz opened #74 "Lucid Window Title"
From Silke on slack chat:
"The lucid screens should get more specific titles than "LUCID", e.g. including the beamline/hutch."

[2020-07-09 16:11] #74 closed

[2020-07-09 23:10] hhslepicka commented on #67
I was able to reproduce this error locally...
Here is how I did it:
- Using PyDM 1.10.1 (to skip the fix for the connection and access callback) and PyEPICS (3.4.2, not master which includes the fix for callbacks as well)
- Modify the launcher or any other part of LUCID to create successfully about 500 connections or more of PyDMChannel with successful connection callbacks.
- Once the connections

[2020-07-10 00:42] hhslepicka commented on #67
Fix submitted to PyDM. @klauer would you mind to review? I tested locally following the procedure above and now I get just one error and no longer 1000.

[2020-07-10 00:46] hhslepicka commented on #66
@slacAdpai did you try the recommendation provided by Zach? Are you still seeing issues?

[2020-07-10 16:16] #67 closed

[2020-07-10 21:23] ZLLentz commented on #66
Seems like we managed to change the green to black by changing the rendering settings :shrug: but the issue persists...

[2020-07-10 21:31] ZLLentz commented on #66
Hang on, there's something here- we're walking through this together on zoom

[2020-07-10 21:36] slacAdpai commented on #66
Go to display, change settings, and check all the 5 options on the bottom. Then restart your entire session and the lfe screens and iocmanager screens will show up properly.
![image](https://user-images.githubusercontent.com/42284230/87204779-8cca5f80-c2ba-11ea-9fd0-e5b5da4aa9e4.png)

[2020-07-10 21:36] #66 closed

[2020-07-21 22:46] klauer opened #77 "Mechanism for devices to opt out of grid placement"
(From a discussion with @ZLLentz)

* Name-based convention? e.g., hide devices that start with `_`
* Happi item metadata key? e.g., "hide_from_lucid_grid: True"
* Remove row/col values (stand=None) -> but this removes useful information

A variety metadata tag would make sense here, but they apply only to components.

[2020-07-21 22:47] hhslepicka commented on #77
Neat idea! I think that a metadata key would be great as maybe you still want a good user-friendly name and as you also mentioned, info like `stand` could be holding useful information for other purposes.

[2020-08-04 21:10] klauer opened #78 "Embedded display intermittent issue (`object of type 'NoneType' has no len()`)"
While loading the attenuator calculator screen (and maybe popping it out too quickly?)

[code]

[2020-08-04 21:18] hhslepicka commented on #78
@klauer do you happen to know if inside of this screen there is an embedded with a template repeater inside?

[2020-08-04 21:24] klauer commented on #78
Yes, there is

[2020-08-04 21:25] klauer commented on #78
If that's problematic, I may just expand it out statically and remove the repeater/embedded display

[2020-08-04 21:28] hhslepicka commented on #78
I "guessed" that because of the error. It is clearly something on the PyDM side. On the connection queue. I believe that since the TemplateRepeater uses the queued connection and the PyDMEmbeddedDisplay tries to do some "smarts" about it, it may be causing this issue. I will take a look into that right now.

[2020-08-05 01:46] hhslepicka commented on #78
I am transferring this issue to PyDM since I was able to recreate the problem via using PyDMEmbeddedDisplay and PyDMTemplateRepeater. I am trying now a possible patch for it.

[2020-08-05 16:15] #78 closed

[2020-08-25 19:39] klauer opened #79 "Splash screen timeout shown"
Shouldn't show, but it did:

<img width="420" alt="image" src="https://user-images.githubusercontent.com/5139267/91219746-fe763580-e6cf-11ea-96e8-f19800e0f3a5.png">

[2020-08-25 19:40] klauer commented on #57
Not resolved. Strange overlap of grid + menu options:

<img width="1468" alt="image" src="https://user-images.githubusercontent.com/5139267/91219789-11890580-e6d0-11ea-98b0-6b61b111e3dd.png">

[2020-08-25 19:49] hhslepicka commented on #57
Oh damn! In which case did this happen? Given that you have a screenshot, can you send some instructions to reproduce that? This would make it easier to debug and find a solution.

Just a quick pool here: @klauer @ZLLentz
If the screen is so small that it can't fit info, should we add scrollbars to the grid?

[2020-08-25 19:53] klauer commented on #57
Reproduce by running `lfe` on a 15" macbook pro (or just set your screen resolution lower if you can't reproduce).

I think the grid shouldn't be so massive if it only has sparse dots as does the example, should prefer showing its full contents but fallback to scrollbars if necessary.

[2020-08-25 19:56] hhslepicka commented on #57
I will work on that.

[2020-08-25 21:09] ZLLentz commented on #57
I kind of want to edit happi and group things more aggressively in that grid...

[2020-08-25 21:21] klauer commented on #57
It goes without saying users should still be able to access the functionality regardless of their screen resolution.

But - it's @ZLLentz's call here for the exact direction this takes.

[2020-08-25 21:22] hhslepicka commented on #57
I agree with you, @klauer. Users should ultimately be able to operate the screens no matter which resolution they have.

[2020-08-25 21:57] hhslepicka commented on #57
I managed to reproduce it here following your guidance, @klauer and it looks awful (as expected).
Working on a fix right now.
<img width="1118" alt="Screen Shot 2020-08-25 at 2 55 45 PM" src="https://user-images.githubusercontent.com/8185425/91232072-3fc41080-e6e3-11ea-9aa3-ea8bf9db0289.png">

[2020-08-26 17:39] #79 closed

[2020-09-01 18:44] klauer opened #82 "Main window: grid view on a pyqtads "central widget"?"
Perhaps using this pattern: https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System/pull/233#issuecomment-676612692

Not really a central widget, but the splitter pattern could work well.

Seems to maybe be what we're after...

`</half-baked thought>`

[2020-09-02 18:52] klauer commented on #82
https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System/blob/70738f7549c3b25abe9aea47f4eb9a68ba8b5fb6/examples/centralwidget/centralWidget.py

<img width="997" alt="image" src="https://user-images.githubusercontent.com/5139267/92024201-b203a900-ed12-11ea-8da8-84ebbbee45a1.png">

Works quite well in the example

[2020-09-10 18:44] klauer commented on #64
`sys.excepthook` is in place for hutch-python; for LUCID, hook into the pydm exception dispatcher: https://github.com/slaclab/pydm/blob/master/pydm/exception.py#L25

[2020-09-29 19:42] ZLLentz opened #83 "TypeError on startup"
Opening kfe lucid screen using dev environment:

![image](https://user-images.githubusercontent.com/10647860/94607751-2e75a300-0251-11eb-9ed3-0989f5eba2db.png)

[2020-09-29 19:45] ZLLentz opened #84 "Logging spam on startup"
Opening kfe lucid screen using dev environment:

![image](https://user-images.githubusercontent.com/10647860/94608051-a348dd00-0251-11eb-8865-c3378f2f1c0f.png)

[2020-09-29 19:51] klauer commented on #84
Um, are we using caproto threading client in lucid _intentionally_?

[2020-09-29 20:33] ZLLentz commented on #84
That was my thought as well... I didn't think we were using this anywhere

[2020-09-29 20:34] ZLLentz commented on #84
Agh. Here's an ipython session in dev environment:
[code]

[2020-09-29 20:36] klauer commented on #84
Ahh, OK - ophyd, that makes a bit more sense. PyDM won't use it unless `PYDM_EPICS_LIB` is set (https://github.com/slaclab/pydm/blob/master/pydm/data_plugins/epics_plugin.py)

[2020-09-29 20:37] klauer commented on #84
[code]

[2020-09-29 20:38] klauer commented on #84
Resolved with:
[code]

[2020-09-29 20:46] ZLLentz commented on #84
Yep, now we get the considerably shorter pyepics error spam instead. Excellent.

[2020-09-29 20:46] #84 closed

[2020-09-29 20:52] klauer commented on #84
Also did a quick `git fetch --tags` in all other dev install directories, just in case.

[2020-09-29 20:55] ZLLentz commented on #84
It's a good call and the issue makes some sense. Feels like a bit of retribution for not using fully tagged environments.

[2020-10-07 18:56] #83 closed

[2020-11-03 23:31] klauer commented on #59
The distant future is here. This one-line description is not useful to keep open.

[2020-11-03 23:31] #59 closed

[2020-11-03 23:35] klauer commented on #41
LUCID/typhos need careful planning as to the next step. This issue is no longer relevant/pertinent/etc.

[2020-11-03 23:35] #41 closed

[2020-11-03 23:39] klauer commented on #18
I don't recall reports of this recently. Can reopen if it's still an issue.

[2020-11-03 23:39] #18 closed

[2021-02-12 17:35] ZLLentz opened #86 "Include Alarm-aware Device Widgets in Grid (once existing)"
See https://github.com/pcdshub/typhos/issues/134

It'd be very useful if the grid displayed alarm colors per device.

[2021-04-15 16:15] klauer opened #87 "Fix conda recipe; codecov does not appear to be used"
https://github.com/pcdshub/lucid/blob/b75a5ef403ab130210a700db6fc19a216f3db53b/conda-recipe/meta.yaml#L35

[2021-06-28 21:37] klauer opened #92 "Opening displays for happi items in search results fails"
Reproducing:
1. Search for an item in the happi database
2. Double click it
3. Note exception in console

Error displayed:
[code]

[2021-07-06 17:56] ZryletTC opened #94 "Improve tests"
As noted by @klauer in #93, the current tests are not adequate to make sure this package works as intended.
This includes at least the happy search algorithm but likely other areas as well.

[2021-07-07 21:59] #92 closed

[2021-07-08 17:44] #86 closed

[2021-07-13 22:58] klauer commented on #64
Continuing with my focus on logging - particularly centralized logging - I'll start working on this soon.

[2021-11-11 19:49] ZLLentz opened #97 "Imagers show as OK in the grid with the server offline"
Might need tweaks in pcdsdevices for the imager classes, might need grid tweaks for the typhos alarm circle settings. Currently, having all the area detector PVs as "disconnected" gives us a happy green in the grid.

[2022-01-26 00:52] ZLLentz opened #98 "Rework the config to allow button column specification"
The buttons above and below each other in the column are often cognitively linked, as are the neighboring rows in the column file. This is because the buttons are longer than they are tall (due to normal horizontal text). So if there are a subset of buttons in a tab that are meant to be related to each other, it is confusing to set this up properly.

The current schema is "here's a number of colum

[2022-01-26 00:53] ZLLentz opened #99 "Add a search for buttons in the tab widgets"
We already have a reasonable index source of these using the yaml config. It'd be nice if there was a special "search tab" with duplicates of every button that would show/hide themselves based on the search, or some other way to quickly locate buttons in the tab maze by keyword.

[2022-01-26 18:52] klauer commented on #98
I think this makes a lot of sense and would be appreciated by users as well.

[2022-03-21 18:45] klauer opened #100 "Style sheets usage from the lucid grid vs as-launched from related displays"
Loading up the BTPS screen from `las` (`${EPICS_SETUP}/lucid-launcher.sh LAS`), and popping it out results in this awful looking display:

<details>
<img width="966" alt="image" src="https://user-images.githubusercontent.com/5139267/159341960-a772f1b4-e707-43e4-a92d-b3ee010b0f1a.png">
</details>

Whereas the configuration editor loads up without the typhos stylesheet via the PyDM related display w

[2022-03-23 20:09] slactjohnson opened #101 "Inactive Happi Entries Still Displayed"
When marking a device as inactive in Happi, the device should no longer appear in the LUCID screen. This appears to not be the case. See an example below.

![image](https://user-images.githubusercontent.com/29102919/159786730-3ac3a0f8-4eed-4183-982a-df07f1eb5171.png)

![image](https://user-images.githubusercontent.com/29102919/159786768-e6818418-4c80-44d6-90dd-4792c517e196.png)

[2022-03-25 23:51] #101 closed

[2022-03-30 00:14] ZLLentz commented on #100
I saw some other wonky stylesheet behaviors today that I can't explain. The chemrixs vacuum screen does not open (or doesn't use?) the stylesheets correctly when opened as a related display from lucid specifically, but it works from from lucid as a shell script and it works fine outside of lucid as a related display. I don't know if this is related at all but the title seemed to match... I have so

[2022-04-29 22:58] klauer opened #103 "Small number of dense sections do not use grid space well"
As reported by @mkestra:

![image](https://user-images.githubusercontent.com/5139267/166078499-bde2b92c-6898-4ebc-8c4c-2e2f77e99929.png)

I think we can do better on the grid column width overall.

[2022-05-03 16:08] klauer commented on #103
This also has to do with the column header text width. There should be a minimum width for these widgets.

[2022-05-20 22:19] ZryletTC opened #104 "Allow macros to be used for RelatedDisplays in toolbar yamls"
Looking at https://github.com/pcdshub/lucid/blob/21ecbca91d040762b3f47100d20f62c38ebb25e8/lucid/overview.py#L456, I would expect this to be pretty easy to add and it would make it nice so I wouldn't have to make new copies for separate instances of custom screens.

[2022-05-23 17:36] klauer commented on #104
This is a very reasonable request.

I think you had mentioned some interest in implementing the feature. If that's still the case, I'd recommend assigning yourself so we don't duplicate work down the line.

[2022-07-22 18:30] klauer opened #105 "Enhancement: Run scripts using a working directory of the script path"
## Suggestion

* For external scripts, ensure that the working directory is set to the script path
* For example, if a script is in `/tmp/scriptname.sh`, LUCID should run it with a working directory of `/tmp`.
* This would avoid users having to manually do a `cd /absolute/path` or a `cd $(BASH_SOURCE...)`-style incantation

## Background
I haven't dug into the code just yet, so perhaps something e

[2022-08-02 17:10] klauer opened #106 "Enhancement: allow user-specified sort order of grid rows and columns"
## Issue

Currently, the rows and columns in the device overview grid are sorted alphabetically.

In order to rearrange the order, the user has to take care to change the functional/location group in the happi database just to change the home display. This can include making arbitrary values for these fields just to make them in alphabetical order.

## Configuration settings as in `master`

Right

[2022-08-31 18:25] klauer commented on #64
This was done a while ago

[2022-08-31 18:25] #64 closed

[2022-09-09 16:14] slactjohnson opened #107 "CamViewer method fails in Lucid"
The laser group recently reported that the cam_viewer method of our `PCDSAreaDetectorTyphos` class doesn't seem to work when opening the device from our LUCID homescreen. See the image below where the method button is disconnected.

When using the device class from an Ipython session things seem to work fine.

From LUCID:
![image](https://user-images.githubusercontent.com/29102919/189394274-7de9ba

[2022-09-09 16:16] slactjohnson commented on #107
Not totally sure where this issue belongs, but since things seem fine from python and Typhos this seems like a LUCID issue?

[2022-09-09 16:46] klauer commented on #107
[code]

OK - so we need to reinstall typhos (not just `git pull`) because it uses the `sig://` plugin  which is defined by entrypoint

[2022-09-09 16:51] slactjohnson opened #108 "LAS BTS Vacuum Screen Broken"
In the time since ~Tuesday morning and now, something appears to have broken the LAS BTS vacuum screen. See below.

Placing this issue in this repo at @klauer 's request, since it's not really clear where this problem originates.

![image](https://user-images.githubusercontent.com/29102919/189401055-3e1364e6-e3ea-4177-9b32-057c835466eb.png)

[2022-09-09 16:53] klauer commented on #107
I reinstalled typhos in the development environment and successfully tested it locally. @slactjohnson, can you confirm that it works on the laser machines?

[2022-09-09 17:12] klauer commented on #108
Repository is here: https://github.com/pcdshub/l2si-beam-transport-system-displays

[2022-09-09 17:50] klauer commented on #108
PyDM v1.11.1 to v1.12.0 change apparently caused this:
![image](https://user-images.githubusercontent.com/5139267/189413448-60eee3a6-63fd-4a16-b12d-adbb101faf2a.png)

[2022-09-09 17:52] ZLLentz commented on #108
PyDMDrawingLine's default orientation was flipped 180 degrees at some point

[2022-09-09 18:00] klauer commented on #108
Even fixing the rotation is insufficient: the line doesn't fill the bounding box of the widget. I'll attach a screenshot in a bit.

[2022-09-09 18:16] ZLLentz commented on #108
Here's the relevant pull request with all the details of the changes that must be affecting this: https://github.com/slaclab/pydm/pull/745

My read is that the original behavior was "draw a line from bottom left to top left inside the bounding box and then rotate it with a default rotation of 45 degrees" while the new behavior is "draw a line from the left side to the right side of the bounding bo

[2022-09-09 18:28] klauer commented on #108
So to make a long vertical line, you have to make an extremely large bounding box for the line. Here's a rotation=90 deg line with a variety of widget sizes in the designer:
![Screenshot from 2022-09-09 11-22-15](https://user-images.githubusercontent.com/5139267/189419434-89980303-3c68-4034-95c4-f04ca0fb9adb.png)
![Screenshot from 2022-09-09 11-22-19](https://user-images.githubusercontent.com/5139

[2022-09-09 18:33] ZLLentz commented on #108
So it draws from the left bounding box to the right and then rotates it without extending it?

[2022-09-09 18:35] ZLLentz commented on #108
This smells like a needed PyDM PR

[2022-09-09 18:36] klauer commented on #108
I think you've got the right logic there @ZLLentz

[2022-09-09 18:43] ZLLentz commented on #108
I can cook something up this afternoon, and we could even slap it into our dev env prior to any pydm tagging

[2022-09-09 20:35] klauer commented on #108
The laser hall will be OK for now using an old PyDM, but I think we should get this fixed sooner rather than later regardless

[2022-09-09 23:47] ZLLentz commented on #108
My fix got merged into PyDM already :tada:

[2022-09-09 23:47] ZLLentz commented on #108
After the patch we'd probably need to make modifications to the screen still- we can do that whenever we deem it a good timing.

[2022-09-12 22:08] klauer commented on #107
@ZLLentz resolved this with his write permissions. Closing.

[2022-09-12 22:08] #107 closed

[2022-09-12 22:49] slactjohnson commented on #107
Thanks @ZLLentz @klauer ! Somehow I missed this last week. I confirmed it works for me as well.

[2022-10-04 18:56] slactjohnson opened #110 "Bug: Screens sometimes fail to render when launching from LUCID."
Occasionally screens fail to render fully when launching from a button in LUCID.

See examples below where the screen is blank until closing the running LUCID session.

I've observed this with EDM and PyDM screens.

![image](https://user-images.githubusercontent.com/29102919/193902634-9e6133a4-f075-46e7-8bcd-4add9e9a9ab1.png)

![image](https://user-images.githubusercontent.com/29102919/193902715-a

[2022-10-04 18:57] slactjohnson commented on #110
Not sure where this originates, but it's tied to LUCID somehow, as the screen immediately renders after closing the session.

Seems to be more common with larger screens than smaller ones, but that's anecdotal evidence at best.

[2022-10-05 20:51] ZLLentz opened #111 "Edge case in shell button when launching pydm screens"
Normally you'd configure your toolbars to open pydm screens using the related display option, but at times as in #100 this hasn't worked so well so some of these are launched as shell commands.

For RIX, this unveiled another issue where opening the chemRIX vacuum screen opened the screen in a strange state. The screen would open and display ok, but whenever we tried to open any of the typhos subd

[2022-11-17 20:05] ZLLentz commented on #100
I don't think lucid ever calls pydm's stylesheet mechanisms
https://github.com/slaclab/pydm/search?q=apply_stylesheet
https://github.com/pcdshub/lucid/search?q=pydm

[2022-11-17 20:20] ZLLentz commented on #100
`PyDMRelatedDisplayButton` is opening a window with no parent that can only inherit a stylesheet from the QApplication, which gets set up with a stylesheet courtesy of `typhos.use_stylesheet`
https://github.com/slaclab/pydm/blob/dc0346004fa15d13ddfe198f21f62bbdf585b715/pydm/widgets/related_display_button.py#L464
https://github.com/pcdshub/lucid/blob/3b53413c6090118c2ff2b257f9bb96eb0e88de3f/lucid/l

[2022-11-17 21:01] ZLLentz commented on #100
First stab at this here, but I ran into some conceptual roadblocks: https://github.com/slaclab/pydm/pull/950